server:
  port: {port}

spring:
  application:
    name: on-pop-server

  # secrets.yml 파일을 불러오는 설정
  config:
    import: optional:file:secrets.yml

  datasource:
    url: jdbc:postgresql://localhost:{db_port}/onpop_db
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

# SeoulApiService에서 사용할 기본값들 (세부 키값은 secrets.yml에서 덮어씀)
seoul:
  api:
    base-url: "http://openapi.seoul.go.kr:8088"