spring:
  datasource:
    username: {id}
    password: {password}

seoul:
  api:
    key: "{api-key}"
    base-url: "http://openapi.seoul.go.kr:8088"
    type: "json"
    service: "citydata"
    start-index: 1
    end-index: 5